.input {
  height: 35px;
  background-color: #3a3a3a;
  border: 1px solid var(--silver);
  margin: 10px 0;
  border-radius: 8px;
  padding: 10px;
  color: var(--white);
}

.input::placeholder {
color: #000000;
}

.input[type=number]::-webkit-inner-spin-button { 
-webkit-appearance: none;

}
.input[type=number] { 
-moz-appearance: textfield;
appearance: textfield;

}